<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="cn.entertech.flowtimezh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <!--
 Needed only if your app looks for Bluetooth devices.
         You must add an attribute to this permission, or declare the
         ACCESS_FINE_LOCATION permission, depending on the results when you
         check location usage in your app.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!--
 Needed only if your app makes the device discoverable to Bluetooth
         devices.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!--
 Needed only if your app communicates with already-paired Bluetooth
         devices.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <dist:module dist:instant="true" />

    <application
        android:name=".app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.DeviceConnectActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".ui.activity.LabSelectActivity">
        </activity>
        <activity android:name=".ui.activity.DeviceSelectActivity"></activity>
        <activity android:name=".ui.activity.LoginActivity"
            android:exported="false">
        </activity>
        <activity android:name=".ui.activity.MeditationTimeCountSelectActivity" />
        <activity android:name=".ui.activity.SensorContactCheckActivity" />
        <activity android:name=".ui.activity.MeditationDimListActivity" />
        <activity android:name=".ui.activity.MeditationLabelsCommitActivity" />
        <activity android:name=".ui.activity.MeditationLabelsRecordActivity" />
        <activity
            android:name=".ui.activity.MeditationTimeRecordActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.PersonInfoActivity" />
        <activity android:name=".ui.activity.ExperimentLabelActivity" />
        <activity android:name=".ui.activity.ExperimentDetailsActivity" />
        <activity android:name=".ui.activity.ExperimentChooseActivity" />
        <activity
            android:name=".ui.activity.AuthActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.DataActivity" />
        <activity
            android:name=".ui.activity.MeditationActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ui.service.AffectiveCloudService" />
    </application>

</manifest>